/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* LOGIN PAGE */
.login-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1a73e8, #4285f4);
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #1a73e8;
    color: white;
    border: none;
    cursor: pointer;
}
title{
    color: #1a73e8;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #222;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 100vh;
    padding-top: 80px;
    background-image: url("./FF00177_1024x1024.jpg");
     background-repeat: no-repeat;   
    background-size: cover;        
    background-position: center;  
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ABOUT */
.about {
    padding: 80px 20px;
    text-align: center;
    background: #f4f4f4;
}

/* SERVICES */
.services {
    padding: 80px 20px;
    text-align: center;
}

.service-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.service {
    background: #4CAF50;
    color: white;
    padding: 30px;
    width: 180px;
    border-radius: 6px;
}
.product2{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    
}

p{
   font-size: 18px;
   color: #1a73e8;
}